<%- include('../partials/header') %>




    <!-- <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-7">


            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-user"></i> Change your
                        password</span>
                </h1>

                <div class="row userInfo">

                    <div class="col-xs-12 col-sm-6">
                        <h2 class="block-title-2"> Please be enter new password, if it has to be changed. </h2>

                        <form id="passwordChangeForm" role="form" class="regForm">
                            <div class="form-group">
                                <label>New Password</label>
                                <input required id="password" minlength="5" maxlength="12"
                                    title="Please enter your new password, between 5 and 12 characters" type="tel"
                                    class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input required minlength="5" title="Passwords doesn't match" id="confirmPass"
                                    type="password" class="form-control" placeholder="Confirm Password"
                                    name="confirmPassword" data-rule-equalTo="#password">
                            </div>
                            <div class="form-group">
                                <label>Current Password</label>
                                <input name="currentPassword" title="Enter valid new password" type="password"
                                    class="form-control" placeholder="Enter your current password" required
                                    minlength="8" maxlength="16">
                            </div>
                            <button id="verifyOTP" type="submit" class="btn btn-primary"> Change Password
                            </button>
                        </form>
                    </div>
                </div>
                

            </div>

        </div>
       
    </div> -->




    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Change Email Id or password<span>BXXY</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">

                    </div><!-- End .checkout-discount -->
                    <form id="passwordChangeForm" role="form" class="regForm">
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">change password or email of User</h2>

                                <div class="col-sm-6">
                                    <label>Current Password *</label>
                                    <input name="currentPassword" title="Enter valid new password" type="password"
                                        class="form-control" placeholder="Enter your current password" required
                                        minlength="6" maxlength="16">
                                </div><!-- End .col-sm-6 -->














                               


                                <div class="col-sm-6">
                                    <label>New Password *</label>
                                    <input type="password" class="form-control" required id="password" minlength="5"
                                        maxlength="12" name="password"
                                        title="Please enter your new password, between 5 and 12 characters"
                                        placeholder="Password" onkeyup="checkPasswordStrength();">
                                </div><!-- End .col-sm-6 -->








                               

                                <div id="password-strength-status"></div>
                                <div class="col-sm-6">
                                    <label>Re-enter Password *</label>
                                    <input required minlength="5" title="Passwords doesn't match" id="confirmPass"
                                        type="password" class="form-control" placeholder="Confirm Password"
                                       data-rule-equalTo="#password">
                                </div><!-- End .col-sm-6 -->

                            </div><!-- End .row -->
                        </div><!-- End .row -->

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>



                    <div class="col-lg-12 clearfix mt-4">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i> Go to Shop </a></li>
                        </ul>
                    </div>




                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
                        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
                        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


                    <script>

                        $(document).ready(function () {
                            console.log('validating')

                            $("#passwordChangeForm").validate();

                            $(".regForm").validate({
                                errorLabelContainer: $(".regForm div.error")
                            });
                        });






                    </script>

                    <script>
                        async function changePassword() {
                            try {
                                
                                let password= document.getElementById('password').value
                                console.log(password)
                                let formData = { password }

                                const response = await fetch('/changePassword', {
                                     method: 'PATCH',
                                     headers: {  'Content-Type': 'application/json' },
                                      body: JSON.stringify(formData)
                                    });
                                let data = await response.json();
                                if (data.success) {
                                    Swal.fire({
                                        icon: "success",
                                        title: "Your new password has been successfully changed",
                                        showConfirmButton: false,
                                        timer: 5000
                                    })
                                    .then(() => window.location.href = '/profile/<%= user._id %>');

                                }
                            } catch (error) {
                                console.error(error);
                            }
                        }

                        document.getElementById('passwordChangeForm').addEventListener('submit', function (e) {
                            console.log('vannu')
                            e.preventDefault();
                            changePassword();
                        });
                    </script>




                    <%- include('../partials/footer') %>