<%- include('../partials/header') %>



   



    
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Edit the profile<span>BXXY</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/productList">Profile</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->




        <!-- ======================================================================================================== -->


       

                                
                      


        



<!-- ======================================================================================================= -->

<div class="page-content">
<div class="checkout">
    <div class="container">      
<div class="checkout-discount">

</div><!-- End .checkout-discount -->
<form action="#">
<div class="row">
    <div class="col-lg-9">
        <h2 class="checkout-title">Edit Detils of USer</h2><!-- End .checkout-title -->
            <div class="row">
                <div class="col-sm-6">
                    <label>First Name *</label>
                    <input type="text" class="form-control" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>Last Name *</label>
                    <input type="text" class="form-control" required>
                </div><!-- End .col-sm-6 -->
            </div><!-- End .row -->

            <!-- <label>Company Name (Optional)</label> -->
            <!-- <input type="text" class="form-control"> -->

            <label>Country *</label>
            <input type="text" class="form-control" required>

            <label>Street address *</label>
            <input type="text" class="form-control" placeholder="House number and Street name" required>
            <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." required>

            

                <div class="col-sm-6">
                    <label>State / County *</label>
                    <input type="text" class="form-control" required>
                </div><!-- End .col-sm-6 -->
            </div><!-- End .row -->

            <div class="row">
                <div class="col-sm-6">
                    <label>Postcode / ZIP *</label>
                    <input type="text" class="form-control" required>
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                    <label>Phone *</label>
                    <input type="tel" class="form-control" required>
                </div><!-- End .col-sm-6 -->   
                <button type="submit" class="btn btn-primary">Submit</button>


    </div><!-- End .col-lg-9 -->
    
    
</div><!-- End .row -->
</form>


<div class="col-lg-12 clearfix mt-4">
    <ul class="pager">
        <li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i> Go to Shop </a></li>
    </ul>
</div>

</div><!-- End .container -->
</div><!-- End .checkout -->
</div><!-- End .page-content -->
</main><!-- End .main -->
    





    <%- include('../partials/footer') %>