<%- include('../partials/header') %>

  <main class="main">
    <!-- ... (breadcrumb code remains unchanged) ... -->

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">

          <div class="row userInfo">
            <div class="col-sm-12">





              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-7">

                  <div class="row userInfo">
                    <div class="col-xs-12 col-sm-6">
                      <h3 class="block-title-3">Change Password</h3>

                      <form action="/forgotPasswordReset" method="POST" role="form" id="passForm" class="regForm">
                        <div class="form-group">
                          <label>New Password</label>
                          <input name="newPassword" id="newPassword" type="password" class="form-control"
                            placeholder="Enter New Password">
                        </div>
                        <div class="form-group">
                          <label>Confirm New Password</label>
                          <input title="Passwords don't match" name="passwordNew" type="password" class="form-control"
                            placeholder="Confirm New Password" required data-rule-equalTo="#newPassword">
                        </div>
                        <div class="form-group">
                          <!-- <label>Time Left: </label> -->
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i>Reset Password</button>
                      </form>
                    </div>
                  </div>
                  <!--/row end-->
                </div>
              </div>











            </div>
          </div>
          <!--/row end-->
        </div>
      </div>
    </div>

  </main><!-- End .main -->






  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
  integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
  integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


  $("#passNew").validate({
    rules: {

      passwordNew: {
        required: true,
        minlength: 4,
        maxlength: 12,
      },
      
    },


  });


</script>








  <%- include('../partials/footer') %>