<%- include('../partials/header') %>

<main class="main">
    <!-- ... (breadcrumb code remains unchanged) ... -->

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>

                <div class="row userInfo">
                    <div class="col-sm-12">
                        <h2 class="block-title-2">Confirm Your OTP</h2>

                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-7">
                              <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>
                          
                              <div class="row userInfo">
                                <div class="col-xs-12 col-sm-6">
                                  <h2 class="block-title-2">Confirm Your OTP</h2>
                          
                                  <form action="/forgotPasswordPage3" method="POST" role="form" id="otpForm" class="regForm">
                                    <div class="form-group">
                                      <input id="OTP" type="hidden" class="form-control" value="<%= currentOTP %>">
                                    </div>
                                    <div class="form-group">
                                      <label>OTP</label>
                                      <input title="Invalid OTP" type="tel" name="otp" class="form-control" placeholder="Enter OTP" required data-rule-equalTo="#OTP">
                                    </div>
                                    <div class="form-group">
                                      <label>Time Left: </label> 
                                      <span>
                                        <h4 id="timer"></h4>Seconds left
                                      </span>
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i>Confirm OTP</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <!--/row end-->
            </div>
        </div>
    </div>

</main><!-- End .main -->

<script>
   let a = 60;
let h = document.getElementById('timer');
let otpTimer = setInterval(() => {
  h.innerText = a--;
  if (a === 0) {
    clearInterval(otpTimer);
  }
}, 1000);

  </script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


$("#otpForm").validate({
  rules: {
    otp: {
      required: true,
      minlength: 1,
      maxlength: 14,
    },
   
  }


});


</script>



















<%- include('../partials/footer') %>