<%- include('../partials/header') %>

<main class="main">
    <!-- ... (breadcrumb code remains unchanged) ... -->

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>

                <div class="row userInfo">
                    <div class="col-sm-12">
                        <h2 class="block-title-2">Confirm Your OTP</h2>

                        <form action="/forgotOTP" method="POST" role="form" id="emailData" class="regForm">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input name="email" title="Enter Valid Email Address" type="email" class="form-control" placeholder="Enter email address" required>
                            </div>
                            <div class="form-group">
                              
                            </div>
                            <% if (forgotUserEmailDoesntExist) { %>
                                <div class="form-group">
                                    <label style="color: red;">Email doesn't exist!</label>
                                </div>
                            <% } %>            
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i> Send OTP</button>
                        </form>
                    </div>
                </div>
                <!--/row end-->
            </div>
        </div>
    </div>

</main><!-- End .main -->





  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
  integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
  integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


  $("#addAdrress").validate({
    rules: {
        email: {
          required: true,
          email: true,
      },
      
    }


  });


</script>.


<%- include('../partials/footer') %>
