<%- include('../partials/header') %>

<main class="main">
    <!-- ... (breadcrumb code remains unchanged) ... -->

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> Authentication</span></h1>

                <div class="row userInfo">
                    <div class="col-sm-12">
                        <h2 class="block-title-2">Confirm Your OTP</h2>

                        <form action="/forgotOTP" method="POST" role="form" class="regForm">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input name="email" title="Enter Valid Email Address" type="email" class="form-control" placeholder="Enter email address" required>
                            </div>
                            <div class="form-group">
                              
                            </div>
                            <% if (forgotUserEmailDoesntExist) { %>
                                <div class="form-group">
                                    <label style="color: red;">Email doesn't exist!</label>
                                </div>
                            <% } %>            
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user"></i> Send OTP</button>
                        </form>
                    </div>
                </div>
                <!--/row end-->
            </div>
        </div>
    </div>

</main><!-- End .main -->



<!-- <script>
    $().ready(function () {
      // validate the comment form when it is submitted
      $("#regForm").validate();

      // validate signup form on keyup and submit
      $(".regForm").validate({
        errorLabelContainer: $(".regForm div.error")
      });
    });
  </script> -->


<%- include('../partials/footer') %>
