<%- include('../partials/header') %>

    <!-- <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="path/to/bootstrap.min.css"> -->

    <!-- <title>Your Form</title>
    </head>

    <body>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-6">
                    <form action="/manageAddress" method="POST">

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group required">
                                <label for="InputName">First Name <sup>*</sup> </label>
                                <input required name="firstName" type="text" class="form-control" id="InputName"
                                    placeholder="First Name" />
                            </div>

                            <div class="form-group required">
                                <label for="InputLastName">Last Name <sup>*</sup> </label>
                                <input required name="lastName" type="text" class="form-control" id="InputLastName"
                                    placeholder="Last Name" />
                            </div>

                            <div class="form-group required">
                                <label for="InputAddress">Address- Line 1 <sup>*</sup> </label>
                                <input required name="addressLine1" type="text" class="form-control" id="InputAddress"
                                    placeholder="Address" />
                            </div>
                            <div class="form-group">
                                <label for="InputAddress2">Address- Line 2 <sup>*</sup> </label>
                                <input required name="addressLine2" type="text" class="form-control" id="InputAddress2"
                                    placeholder="Address" />
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number<sup>*</sup> </label>
                                <input required name="phone" type="text" class="form-control" id="phone"
                                    placeholder="Phone Number" />
                            </div>
                            <div class="form-group required">
                                <label for="addressAlias">Please assign an address title for future reference.
                                    <sup>*</sup></label>
                                <input required type="text" value="My address" name="addressTitle" class="form-control"
                                    id="addressAlias" />
                            </div>

                        </div>

                        <div class="col-lg-12 col-xs-12 clearfix">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-map-marker"></i> Save Address
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        
    </body>

    </html> -->

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Add New Adress<span>BXXY</span></h1>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </div>
            <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->

        <!-- ======================================================================================================== -->

        <!-- ======================================================================================================= -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount"></div>
                    <!-- End .checkout-discount -->
                    <form action="/manageAddress" method="POST">
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">Add Adreess</h2>
                                <!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" required id="InputName"
                                            placeholder="First Name" name="firstName" />
                                    </div>
                                    <!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" name="lastName" id="InputName"
                                            placeholder="Last Name" required />
                                    </div>
                                    <!-- End .col-sm-6 -->
                                </div>
                                <!-- End .row -->

                                <label>Street address *</label>
                                <!-- <input type="text" class="form-control" placeholder="House number and Street name"
                                    required> -->
                                <input type="text" name="addressLine1" id="InputAddress" class="form-control"
                                    placeholder="Appartments, suite, unit etc ..." required />

                                <label>State / County *</label>
                                <!-- <input type="text" class="form-control" placeholder="House number and Street name"
                                    required> -->
                                <input type="text" name="addressLine2" id="InputAddress" class="form-control"
                                    placeholder="district, state, unit etc ." required />

                                <div class="row">
                                    <label for="addressAlias">Please assign an address title for future reference.
                                        <sup>*</sup></label>
                                    <input required type="text" value="My address" name="addressTitle"
                                        class="form-control" id="addressAlias" />
                                </div>
                            </div>
                            <!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" class="form-control" id="postcode" name="postcode"
                                        placeholder="Postcode" required />
                                </div>
                                <!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" class="form-control" id="phone" name="phone"
                                        placeholder="Phone Number" required />
                                </div>
                                <!-- End .col-sm-6 -->

                                
                                    <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <!-- End .col-lg-9 -->
                        </div>
                        <!-- End .row -->
                    </form>

                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right">
                                <a href="/"> <i class="fa fa-home"></i> Go to Shop </a>
                            </li>
                            <!-- <li class="next pull-left"><a href="/account">&larr; Back to My Account</a></li> -->
                        </ul>
                    </div>
                    <!-- <aside>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex flex-wrap align-items-center">
                    <a href="/manageAdrressPage" class="btn btn-success btn-sm rounded mr-2 mb-2">Add Adresss</a>
                    
                </div>
            </div>
        </div>
    </div>
</aside> -->    <div class="col-lg-12 clearfix mt-4">
    <ul class="pager">
        <li class="previous pull-right"><a href="/"> <i class="fa fa-home"></i> Go to Shop </a></li>
    </ul>
</div>
                </div>
                <!-- End .container -->
            </div>
            <!-- End .checkout -->
        </div>
        <!-- End .page-content -->
    </main>
    <!-- End .main -->

    <%- include('../partials/footer') %>