

<%- include('../partials/header') %>
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-10.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <!-- <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')"> -->
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">OTP Verification</a>
                        </li>
                        <style>
                            /* Add your custom styles here */
                            .resend-link {
                              color: #007bff;
                              cursor: pointer;
                            }
                          </style>
                        </head>
                        <body>
                        
                        <div class="container mt-4">
                          <div class="row justify-content-center">
                            <div class="col-md-6">
                             
                              <p>Please enter the OTP sent to your mobile number.</p>
                              <form action="/otp" method="POST" id="otpForm">
                                <div class="form-group">
                                  <input type="text" class="form-control" id="otpInput" name="" placeholder="Enter OTP" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Verify OTP</button>
                                <p class="mt-3">Didn't receive OTP? <span id="resendOTP" class="resend-link">Resend</span></p>
                              </form>


                              <!-- <form action="/otp" method="POST" role="form" class="regForm">
                                <div class="form-group">
                                  <label>Username</label>
                                  <input name="username" title="Please enter your username (at least 3 characters)" type="text"
                                    class="form-control" placeholder="Enter name" required minlength="3">
                                </div>
                                <div class="form-group">
                                  <label>Email address</label>
                                  <input name="email" title=" Please enter valid email" type="email" class="form-control"
                                    placeholder="Enter email" required>
                                </div>
                                <div class="form-group">
                                  <label>Phone Number</label>
                                  <input name="phonenumber" minlength="10" maxlength="10" title=" Enter 10 numbers" type="tel"
                                    class="form-control" placeholder="Enter phone number" required>
                                </div>
                                <div class="form-group">
                                  <label>Password</label>
                                  <input name="password" required id="password" minlength="5" maxlength="12"
                                    title="Please enter your password, between 5 and 12 characters" type="password" class="form-control"
                                    placeholder="Password">
                                </div>
                                <div class="form-group">
                                  <label>Confirm Password</label>
                                  <input required minlength="5" title="Paswords doesn't match" id="confirmPass" type="password"
                                    class="form-control" placeholder="Confirm Password" data-rule-equalTo="#password">
                                </div>
                                <div class="error">
                                </div>
                                {{#if emailPhoneExists}}
                                <div class="form-group">
                                  <label style="color: red;">Email/Phone Number already exists!</label>
                                </div>
                                {{/if}}
                                <button type="submit" class="btn   btn-primary"><i class="fa fa-user"></i> Create an account </button>
                              </form> -->









                            </div>
                          </div>
                        </div>
                    </ul>
                    
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->
<%- include('../partials/footer') %>