<%- include('../partials/header') %>

  <main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index-10.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Login</li>
        </ol>
      </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <!-- <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')"> -->
    <div class="container">
      <div class="form-box">
        <div class="form-tab">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <!-- <li class="nav-item">
                            <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
                        </li> -->
            <li class="nav-item">
              <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab"
                aria-controls="register-2" aria-selected="true">OTP Verification</a>
            </li>
            <style>
              /* Add your custom styles here */
              .resend-link {
                color: #007bff;
                cursor: pointer;
              }
            </style>
            </head>

            <body>

              <div class="container mt-4">
                <div class="row justify-content-center">
                  <div class="col-md-6">

                    <p>Please enter the OTP sent to your mobile number.</p>
                    <form action="/otp" method="POST" id="otpForm">
                      <div class="form-group">
                        <input type="text" class="form-control" id="otpInput" name="otp" placeholder="Enter OTP"
                          required>
                      </div>
                      <button type="submit" class="btn btn-primary">Verify OTP</button>


                   
                        <a href="/resendOTP">
                          <p class="mt-3">Didn't receive OTP? <span id="ResendOTP" class="resend-link">Resend</span></p>
                        </a>
                  
                    
                      
                      <div class="form-group">
                        <label>Time Left: </label>
                        <span>
                          <h4 id="timer"></h4>
                        </span>
                      </div>





                    </form>










                  </div>
                </div>
              </div>
          </ul>

        </div><!-- End .form-tab -->
      </div><!-- End .form-box -->
    </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
  </main><!-- End .main -->



  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let a = 60;
      let timerElement = document.getElementById('timer');
      let verifyOTPButton = document.querySelector('#otpForm button[type="submit"]');
      let resendOTPLink = document.getElementById('ResendOTP');
  
      let otpTimer = setInterval(() => {
        timerElement.innerText = a--;
  
        if (a === -1) {
          clearInterval(otpTimer);
          verifyOTPButton.style.display = 'none';
          resendOTPLink.style.display = 'block';
        }
      }, 1000);
    });
  </script>
  




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
    integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
    integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>


    $("#otpForm").validate({
      rules: {
        otp: {
          required: true,
          minlength: 1,
          maxlength: 14,
        },
       
      }


    });


  </script>


















  <%- include('../partials/footer') %>