<%- include('../partials/header') %>

<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index-10.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div
    class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
    style="background-image: url('assets/images/backgrounds/login-bg.jpg')"
  >
    <div class="container">
      <div class="form-box">
        <div class="form-tab">
          <ul class="nav nav-pills nav-fill" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                id="signin-tab-2"
                data-toggle="tab"
                href="#signin-2"
                role="tab"
                aria-controls="signin-2"
                aria-selected="false"
                >Sign up</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                id="register-tab-2"
                data-toggle="tab"
                href="#register-2"
                role="tab"
                aria-controls="register-2"
                aria-selected="true"
                >Log in</a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div
              class="tab-pane fade"
              id="signin-2"
              role="tabpanel"
              aria-labelledby="signin-tab-2"
            >
              <form action="/signup" method="POST">
                <div class="form-group">
                  <label for="singin-email-2">Email address *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="singin-email-2"
                    name="email"
                    title=" Please enter valid email"
                    required
                  />
                </div>
                <!-- End .form-group -->

                <div class="form-group">
                  <label for="singin-username">Username *</label>
                  <input
                    type="text"
                    class="form-control"
                    id="singin-username"
                    name="username"
                    title="Please enter your username (at least 3 characters)"
                    required
                  />
                </div>
                <!-- End .form-group -->

                <div class="form-group">
                  <label for="singin-password-2">Password *</label>
                  <input
                    type="password"
                    class="form-control"
                    id="singin-password-2"
                    name="password"
                    minlength="5"
                    maxlength="12"
                    required
                  />
                </div>
                <!-- End .form-group -->

                <div class="form-group">
                  <label for="singin-phnumber">Phone Number*</label>
                  <input
                    type="tel"
                    class="form-control"
                    id="singin-phnumber"
                    name="phonenumber"
                    minlength="10"
                    maxlength="10"
                    title=" Enter 10 numbers"
                    required
                  />
                </div>
                <!-- End .form-group -->

                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>Sign</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>

                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="signin-remember-2"
                    />
                    <label class="custom-control-label" for="signin-remember-2"
                      >Remember Me</label
                    >
                  </div>
                  <!-- End .custom-checkbox -->

                  <a href="#" class="forgot-link">Forgot Your Password?</a>
                </div>
                <!-- End .form-footer -->
              </form>
              <div class="form-choice">
                <p class="text-center">or sign in with</p>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-g">
                      <i class="icon-google"></i>
                      Login With Google
                    </a>
                  </div>
                  <!-- End .col-6 -->
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-f">
                      <i class="icon-facebook-f"></i>
                      Login With Facebook
                    </a>
                  </div>
                  <!-- End .col-6 -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .form-choice -->
            </div>
            <!-- .End .tab-pane -->
            <div
              class="tab-pane fade show active"
              id="register-2"
              role="tabpanel"
              aria-labelledby="register-tab-2"
            >
              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="register-email-2">Your email address *</label>
                  <input
                    type="email"
                    class="form-control"
                    id="register-email-2"
                    name="email"
                    required
                  />
                </div>
                <!-- End .form-group -->
                <!-- title="Please enter your username (at least 3 characters)" -->
                <div class="form-group">
                  <label for="register-password-2">Password *</label>
                  <input
                    type="password"
                    class="form-control"
                    id="register-password-2"
                    name="password"
                    title="Please enter your username (at least 3 characters)"
                    required
                  />
                </div>
                <!-- End .form-group -->

                <div class="form-footer">
                  <button type="submit" class="btn btn-outline-primary-2">
                    <span>Log in</span>
                    <i class="icon-long-arrow-right"></i>
                  </button>

                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="register-policy-2"
                      required
                    />
                    <label class="custom-control-label" for="register-policy-2"
                      >I agree to the <a href="#">privacy policy</a> *</label
                    >
                  </div>
                  <!-- End .custom-checkbox -->
                </div>
                <!-- End .form-footer -->
              </form>
              <div class="form-choice">
                <p class="text-center">or sign in with</p>
                <div class="row">
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-g">
                      <i class="icon-google"></i>
                      Login With Google
                    </a>
                  </div>
                  <!-- End .col-6 -->
                  <div class="col-sm-6">
                    <a href="#" class="btn btn-login btn-f">
                      <i class="icon-facebook-f"></i>
                      Login With Facebook
                    </a>
                  </div>
                  <!-- End .col-6 -->
                </div>
                <!-- End .row -->
              </div>
              <!-- End .form-choice -->
            </div>
            <!-- .End .tab-pane -->
          </div>
          <!-- End .tab-content -->
        </div>
        <!-- End .form-tab -->
      </div>
      <!-- End .form-box -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .login-page section-bg -->
</main>
<!-- End .main -->

<!-- include validate.js // jquery plugin   -->
<script src="assets/js/jquery.validate.js"></script>

<script>
  $().ready(function () {
    $("#regForm").validate();

    $(".regForm").validate({
      errorLabelContainer: $(".regForm div.error"),
    });
  });
</script>

<%- include('../partials/footer') %>
