.gradient-custom {
    /* fallback for old browsers */
    background: #2d11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(91, 17, 203), rgb(69, 37, 252));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(17, 163, 203), rgb(37, 252, 73))
    }