
                                        body {
                                            background-position: center;
                                            background-color: #eee;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            color: #505050;
                                            font-family: "Rubik",Helvetica,Arial,sans-serif;
                                            font-size: 14px;
                                            font-weight: normal;
                                            line-height: 1.5;
                                            text-transform: none;
                                        }
                                        
                                        .forgot{
                                                background-color: #fff;
                                            padding: 12px;
                                            border: 1px solid #dfdfdf;
                                        }
                                        
                                        .padding-bottom-3x {
                                            padding-bottom: 72px !important;
                                        }
                                        
                                        .card-footer{
                                            background-color: #fff;
                                        }
                                        
                                        .btn{ 
                                        
                                            font-size: 13px;
                                        }
                                        
                                        .form-control:focus {
                                            color: #495057;
                                            background-color: #fff;
                                            border-color: #76b7e9;
                                            outline: 0;
                                            box-shadow: 0 0 0 0px #28a745;
                                        }
                                                    