<%- include('../adminPartials/header') %>

    <section class="content-main">

        <div class="card mb-4">


        </div> <!-- card end// -->


        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <title>Add Category</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        </head>

        <body>
            <div class="container mt-5">
                <h2>Add Category</h2>
                <form action="/categories/add" method="POST" class="mt-4">
                    <div class="form-group">
                        <label for="categoriesName">Category Name</label>
                        <input type="text" class="form-control" id="categoriesName" name="categoriesName" required>
                    </div>

                    <div class="form-group">
                        <label for="categoriesDescription">Category Description</label>
                        <textarea class="form-control" id="categoriesDescription" rows="3"
                            name="categoriesDescription"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>

        </html>










        
    </section> <!-- content-main end// -->










    




    <%- include('../adminPartials/footer') %>